
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio6</title>
</head>
<body>
    <h1>Internet</h1>

    <h2>Contenido</h2>

    <ol>
        <li>Principales protocolos</li>
        <li>Formas de conectarse</li>
    </ol>

    <h2>1. Principales protocolos</h2>
</body>
</html>
